body {
  min-width: 320px;
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @font-color--main;
  background-color: @bg-color--basic;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
