@font-main: "Open sans", "Arial", sans-serif;

@blue: #283645;
@blue--opacity-10: rgba(40, 54, 69, 0.1);
@blue--opacity-30: rgba(40, 54, 69, 0.3);
@blue--dark: #1d2631;
@blue-gray: #878f93;
@pink: #d22856;
@pink--opacity-30: rgba(210, 40, 86, 0.3);
@white: #ffffff;
@white--opacity-30: rgba(255, 255, 255, 0.3);
@black: #000000;
@black--opacity-30: rgba(0, 0, 0, 0.3);
@gray: #e5e5e5;
@gray--light: #f2f2f2;
@gray--darkest: #485461;
@green: #2aab6d;
@green--darken: #1c9b5e;

@bg-color--basic: @white;
@bg-color--second: @gray--light;
@bg-color--header: @blue;
@bg-color--header--dark: @blue--dark;
@bg-color--menu: @black--opacity-30;
@bg-color--table-title: @blue;
@bg-color-post-image: @blue-gray;

@menu-color--hover: @pink;
@menu-color--active: @white--opacity-30;
@menu-color--mobile--active: @pink--opacity-30;

@font-color--main: @blue;
@font-color--secondary: @white;
@font-color--secondary--opasity-30: @white--opacity-30;
@font-color--different: @pink;
@font-color--different--opacity-30: @pink--opacity-30;


@btn-form-color: @green;
@btn-form-color--hover: @green--darken;
@btn-download-color: @white;
@btn-download-font--hover: @pink;
@btn-download-font--active: @pink--opacity-30;
@btn-upload-color: @pink;
@btn-cancel-color: @blue;

@border-color: @gray;
@border-color--hover: @blue;
@border-color--active: @pink;

@social-icon-color: @pink;
@social-icon-color--active: @pink--opacity-30;
@social-icon-border-color: @blue--opacity-10;
@social-icon-border-color--hover: @blue;

@tablet-width: 660px;
@desktop-width: 960px;
