.achievements {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 37px 0 0 0;
  font-size: 18px;
  text-align: left;
  border: none;
}

.achievements::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: ~"calc(-50vw + 50%)";
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: @bg-color--second;
}

.achievements__title {
  margin-bottom: 43px;
  padding: 0 40px;
}

.achievements__list {
  .list-style-reset ();
  padding: 0 20px;
}

.achievements__item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 46px;
  }
}

.achievements__label {
  position: relative;
  margin-left: 70px;
}

.achievements__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: @bg-color--basic;
  border: 2px solid @border-color;
}

.achievements__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -61px;
  width: 22px;
  height: 10px;
  transform: rotate(-45deg);
}

.achievements__item input[type="checkbox"] {
  display: none;
}

.achievements__item input[type="checkbox"]:checked ~.achievements__label::after {
  border: 2px solid @checked-color;
  border-top: none;
  border-right: none;
}

.achievements__item input[type="checkbox"]:checked ~ .achievements__label:after {
  border-color: @checked-color;
}

.achievements__item input[type="checkbox"]:hover ~ .achievements__label::before,
.achievements__item input[type="checkbox"]:focus ~ .achievements__label::before {
  border-color: @border-color--hover;
}

.achievements__item input[type="checkbox"]:active ~ .achievements__label::before {
  border-color: @border-color--active;
}

@media (min-width: @tablet-width) {
  .achievements {
    width: 620px;
    margin-bottom: 65px;
    padding: 0;
    border: 2px solid @border-color;
  }

  .achievements::before {
    display: none;
  }

  .achievements__title {
    width: 374px;
    margin-bottom: 0;
    padding: 0 34px;
    background-color: @bg-color--basic;
  }

  .achievements__list {
    padding: 48px 58px 8px 58px;
  }

  .achievements__label {
    margin-left: 60px;
  }

  .achievements__label::before {
    left: -60px;
  }

  .achievements__label::after {
    left: -51px;
  }
}

@media (min-width: @desktop-width) {
  .achievements {
    width: 940px;
  }

  .achievements__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .achievements__item {
    flex-shrink: 0;
  }

  .achievements__item--selfie,
  .achievements__item--burnt {
    width: 260px;
  }

  .achievements__item--chuck-norris,
  .achievements__item--souvenirs {
    width: 242px;
  }

  .achievements__item--tower,
  .achievements__item--hotel {
    width: 210px;
  }

  .achievements__item--chuck-norris {
    order: 1;
  }

  .achievements__item--tower {
    order: 2;
  }

  .achievements__item--burnt {
    order: 3;
  }

  .achievements__item--souvenirs {
    order: 4;
  }

  .achievements__item--hotel {
    order: 5;
  }
}
