.advantages {
  margin-bottom: 42px;
  background-color: @bg-color--second;
}

.advantages__intro {
  background-color: @bg-color--basic;
}

.advantages__wrapper {
  position: relative;
}

.advantages__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: ~"calc(-50vw + 50%)";
  width: 100vw;
  height: 100%;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100vw auto;
}

.advantages__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 277px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 0;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}


.advantages__list {
  .list-style-reset ();
  padding: 82px 0 287px 0;
  line-height: 24px;
}

.advantages__item {
  margin-bottom: 31px;
  padding: 0 30px;
}

.advantages__title {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 18px;
}

.advantages__description {
  margin: 0;
  padding: 0;
}

.advantages__positive-result {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 56px;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .advantages__wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 268px;
    height: 483px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .advantages__list {
    width: 310px;
    margin: 0;
    padding: 73px 0 42px 0;
    text-align: left;
  }

  .advantages__image {
    order: 0;
  }

  .advantages__item {
    margin-bottom: 34px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__positive-result {
    display: block;
    text-align: left;
    background-color: @bg-color--basic;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .advantages__wrapper::after {
    display: none;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    order: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 31px 39px 31px;
    min-height: 600px;
    text-align: center;
  }

  .advantages__item {
    position: relative;
    width: 240px;
    margin: 0;
  }

  .advantages__item--screen1::before {
    content: "";
    position: absolute;
    top: -302px;
    left: -22px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item--screen2::before {
    content: "";
    position: absolute;
    top: -302px;
    left: -22px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item--screen3::before {
    content: "";
    position: absolute;
    top: -302px;
    left: -22px;
    width: 292px;
    height: 302px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__title {
    margin-bottom: 23px;
    padding-top: 57px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__positive-result {
    background-color: @bg-color--second;
  }

  .advantages__image {
    display: none;
  }
}
