.button-form {
  width: 280px;
  padding: 16px 0 15px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @font-color--secondary;
  background-color: @btn-form-color;
  border: 1px solid @btn-form-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: @btn-form-color--hover;
    border-color: @btn-form-color--hover;
  }

  &:active {
    color: @font-color--secondary--opasity-30;
    background-color: @btn-form-color--hover;
    border-color: @btn-form-color--hover;
  }

  &:disabled {
    background-color: @btn-form-color--disabled;
  }
}

@media (min-width: @tablet-width) {
  .button-form {
    width: 300px;
    min-height: 60px;
  }
}
