.editing-photo {
  margin-bottom: 38px;
  border-bottom: 1px solid @border-color--editing-photo;
}

.editing-photo__list {
  .list-style-reset ();
}

.editing-photo__list--icon {
  display: flex;
  justify-content: center;

  .editing-photo__item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 46px;
    margin-bottom: 20px;
  }
}

.editing-photo__button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--crop {
    width: 48px;
    height: 48px;
    margin-right: 34px;
  }

  &--fill {
    width: 48px;
    height: 48px;
    margin-right: 40px;
  }

  &--contrast {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
  }
}

.editing-photo__button svg {
  fill: @btn-editing-photo;
}

.editing-photo__button--active svg {
  fill: @btn-editing-photo--active;
}

.editing-photo__button:hover svg,
.editing-photo__button:focus svg {
  fill: @btn-editing-photo--hover;
}

.editing-photo__list--controls {
  .editing-photo__item {
    box-sizing: border-box;
    height: 56px;
    padding-top: 20px;
  }
}

.editing-photo__item--fill {
  display: none;
}

.editing-photo__item--contrast {
  display: none;
}

.editing-photo__scale {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: @scale-color;
}

.editing-photo__toggle {
  position: absolute;
  top: -6px;
  left: 80%;
  width: 10px;
  height: 10px;
  border: 2px solid @toggle-color;
  border-radius: 50%;
  background-color: @bg-color--second;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: @toggle-color;
  }
}

@media (min-width: @tablet-width) {
  .editing-photo {
    display: flex;
    margin: 0;
    border: none;
  }

  .editing-photo__list--icon {
    display: block;
    width: 37px;

    .editing-photo__item {
      justify-content: flex-start;
      align-items: flex-start;
      height: 56px;
      margin-bottom: 15px;
    }
  }

  .editing-photo__button {
    padding: 9px 0 0 2px;
  }

  .editing-photo__button--fill {
    padding-top: 13px;
  }

  .editing-photo__button--contrast {
    padding: 14px 0 0 8px;
  }

  .editing-photo__button svg {
    fill: @btn-editing-photo--active;
  }

  .editing-photo__button--crop,
  .editing-photo__button--fill,
  .editing-photo__button--crop svg,
  .editing-photo__button--fill svg {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  .editing-photo__button--contrast,
  .editing-photo__button--contrast svg {
    width: 16px;
    height: 16px;
  }

  .editing-photo__list--controls {
    flex-grow: 1;

    .editing-photo__item {
      margin-bottom: 15px;
      padding: 20px 18px;
    }
  }

  .editing-photo__item {
    border-bottom: 1px solid @border-color--editing-photo;
  }

  .editing-photo__item--fill {
    display: block;
  }

  .editing-photo__item--contrast {
    display: block;
  }

  .editing-photo__scale {
    width: 100%;
  }

  .editing-photo__toggle--crop {
    left: 73%;
  }

  .editing-photo__toggle--fill {
    left: 12%;
  }

  .editing-photo__toggle--contrast {
    left: 47%;
  }
}

@media (min-width: @desktop-width) {
  .editing-photo__list--icon {
    width: 62px;

    .editing-photo__item {
      margin-bottom: 16px;
    }
  }

  .editing-photo__button {
    padding: 0;
  }

  .editing-photo__button--contrast {
    padding: 3px 0 0 6px;
  }

  .editing-photo__button--crop,
  .editing-photo__button--fill,
  .editing-photo__button--crop svg,
  .editing-photo__button--fill svg {
    width: 48px;
    height: 48px;
    margin-right: 0;
  }

  .editing-photo__button--contrast,
  .editing-photo__button--contrast svg {
    width: 32px;
    height: 32px;
  }

  .editing-photo__list--controls {
    .editing-photo__item {
      margin-bottom: 16px;
      padding: 20px 30px;
    }
  }

  .editing-photo__toggle--crop {
    left: 25%;
  }

  .editing-photo__toggle--fill {
    left: 86%;
  }

  .editing-photo__toggle--contrast {
    left: 56%;
  }
}
