.form__full-name {
  margin: 0;
  padding: 37px 20px 42px 20px;
  text-align: left;
  border: none;
  .outline-pink ();
}

.form__achievements {
  margin: 0;
  padding: 37px 20px 42px 20px;
  text-align: left;
  border: none;
  background-color: @gray-light;
  .outline-pink ();
}

.form__user-contacts {
  margin: 0;
  padding: 37px 20px 42px 20px;
  text-align: left;
  border: none;
  .outline-pink ();
}

.form__app {
  margin: 0;
  padding: 37px 20px 42px 20px;
  text-align: left;
  border: none;
  background-color: @gray-light;
  .outline-pink ();
}

.form__emotion {
  margin: 0 0 50px 0;
  padding: 37px 20px 0 20px;
  text-align: left;
  border: none;
  .outline-pink ();
}

.form__title {
  margin: 0;
  padding: 0 30px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @color-extra;
}

.form__footnote {
  margin-bottom: 60px;
  text-transform: uppercase;

}

.form__button {
  margin-bottom: 40px;
}

.form__star {
  color: @color-extra;
}
