.like__button {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 15px;
  padding: 0;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like__number {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @font-color--different;
}

@media (min-width: @tablet-width) {
  .like {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .like__button {
    margin-right: 0;
  }
}
