.main-nav__list {
  .list-style-reset();
  border-top: 1px solid @black;
}

.main-nav__item {
  padding: 14px 0 16px 0;
  border-top: 1px solid @gray--darkest;
  border-bottom: 1px solid @black;
}

.main-nav__link {
  color: @font-color--secondary;

  &:hover,
  &:focus {
    color: @menu-color--hover;
  }

  &:active {
    color: @menu-color--active;
  }
}

.main-nav__link--current {
  position: relative;

  &:hover,
  &:focus {
    color: @font-color--secondary;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 790px;
    height: 110px;
    padding-left: 168px;
    border: none;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__link {
    padding: 16px 0;
  }

  .main-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: @bg-color--basic;
  }
}
