.page-main__title {
  min-height: 170px;
  margin: 0 0 50px 0;
  padding: 35px 45px 0 45px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 200;
  color: @color-secondary;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
