.page-footer {
  padding-bottom: 35px;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  width: 147px;
  height: 41px;
  margin: 0 auto 34px auto;
}

.page-footer__logo-link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-footer__logo-link svg {
  fill: @footer-logo-color;
}

.page-footer__icon-desktop {
  display: none;
}

.page-footer__logo-link[href]:hover svg,
.page-footer__logo-link[href]:focus svg {
  fill: @footer-logo-color--hover;
}

.page-footer__logo-link[href]:active svg {
  opacity: 0.3;
}

.page-footer__social {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 127px;
  }

  .page-footer__logo {
    margin: 0 70px 0 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin-left: 94px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    align-items: flex-start;
    justify-content: space-between;
    min-height: 197px;
    padding-top: 75px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__icon-desktop {
    display: inline;
  }

  .page-footer__icon-mobile {
    display: none;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 8px 0 0 0;
  }
}
