.page-footer {
  .outline ();
}

.page-footer__logo {
  width: 147px;
  height: 41px;
  margin: 0 auto;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
