.page-main__description {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 45px auto;
  padding: 0 20px;
}

.page-main__description--photo {
  padding: 0 35px;
}

.page-main__mobile-hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-main__description {
    width: 660px;
    margin-bottom: 70px;
    padding: 0 85px;
    font-size: 18px;
  }

  .page-main__mobile-hidden {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .page-main__description {
    width: 960px;
    padding: 0 100px;
  }

  .page-main__description--photo {
    padding: 0 160px;
  }
}
