.page-header {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: @font-color--main;
  background-color: @bg-color--header--dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 250px;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}

.page-header--index {
  background-position: 50% 258px;
}

//сдвигает фоновую картинку при закрытом меню
.page-header--index-menu-closed {
  background-position: 50% 0;
}

.page-header--menu-closed {
  background-position: center 0;
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  background-color: @bg-color--header;
}

//при закрытом меню блок с логотипом с прозрачностью
.page-header__inner--transparent {
  background-color: @bg-color--menu;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 70px;
  padding: 21px 20px 24px 20px;
}

.page-header__logo {
  display: inline-block;
  width: 76px;
  vertical-align: middle;
}

.page-header__logo svg {
  fill: @menu-logo-color;
}

.page-header__logo[href]:hover svg,
  .page-header__logo[href]:focus svg {
  fill: @menu-color--hover;
}

.page-header__logo[href]:active svg {
  fill: @menu-color--active;
}

.page-header__icon-desktop {
  display: none;
}

.page-header__icon-tabet {
  display: none;
}

.page-header__toggle {
  position: relative;
  width: 53px;
  height: 30px;
  margin: -2px 0 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-header__toggle--hide {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 260px;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header--index {
    background-position: 50% 100%;
  }

  .page-header--menu-closed {
    background-position: center 0;
  }

  .page-header__logo-wrapper {
    height: 110px;
    padding: 27px 20px 40px 20px;
  }

  .page-header__logo {
    width: 150px;
    height: 45px;
  }

  .page-header__icon-mobile {
    display: none;
  }

  .page-header__icon-tabet {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .page-header--index {
    background-size: cover;
  }

  .page-header__menu {
    background-color: @bg-color--menu;
  }

  .page-header__inner {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    min-height: 110px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: transparent;
  }

  .page-header__logo-wrapper {
    padding: 27px 0 40px 0;
  }

  .page-header__icon-desktop {
    display: inline;
  }

  .page-header__icon-tabet {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }
}
