.pop-up {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15),
    0 -1px 10px 0 rgba(0, 1, 1, 0.15);
}

.pop-up--close {
  display: none;
}

.pop-up__title {
  margin: 0 0 25px 0;
  padding: 40px 20px 0 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.pop-up__text {
  margin: 0 0 40px 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 24px;
}

.pop-up__btn-wrapper {
  padding: 0 20px;
  background-color: @gray-light;
}

.pop-up__close {
  margin-bottom: 50px;
}

.pop-up--sent {
  .pop-up__text {
    margin-bottom: 30px;
  }

  .pop-up__close {
    margin: 48px 0 52px 0;
  }
}

@media (min-width: @tablet-width) {
  .pop-up {
    width: 460px;
  }

  .pop-up__title {
    padding: 40px 120px 0 120px;
    font-size: 30px;
    line-height: 40px;
  }

  .pop-up__text {
    padding: 0 75px;
    font-size: 18px;
  }

  .pop-up__close {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .pop-up--sent {
    width: 780px;

    .pop-up__close {
      width: 460px;
    }
  }
}
