@media (min-width: @tablet-width) {
  .positive-result__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 380px;
  }

  .positive-result__title {
    width: 200px;
    margin: 0 0 15px 0;
    padding: 0 100px 0 0;
    font-size: 30px;
    line-height: 36px;
  }

  .positive-result__description {
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .positive-result__link {
    display: block;
    width: 300px;
    margin-top: 15px;
    padding: 0 0 75px 0;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: @color-extra;
  }
}

@media (min-width: @desktop-width) {
  .positive-result__title {
    width: 528px;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .positive-result__description {
    width: 528px;
    font-size: 18px;
    line-height: 30px;
  }

  .positive-result__link {
    width: 528px;
    padding: 0 0 115px 0;
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
  }
}
