@media (min-width: @tablet-width) {
  .positive-result__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    min-height: 378px;
    padding-bottom: 68px;
  }

  .positive-result__title {
    width: 210px;
    margin: 0 0 10px 0;
    padding: 0 100px 0 0;
    font-size: 30px;
    line-height: 36px;
  }

  .positive-result__description {
    width: 310px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .positive-result__link {
    display: block;
    width: 310px;
    margin-top: 11px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: @font-color--different;

    &:hover,
    &:focus {
      color: @font-color--different--opacity-30;
    }
  }
}

@media (min-width: @desktop-width) {
  .positive-result__wrapper {
    min-height: 440px;
    padding-bottom: 114px;
  }

  .positive-result__title {
    width: 528px;
    margin: 0 45px 24px 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .positive-result__description {
    width: 528px;
    margin-right: 45px;
    font-size: 18px;
    line-height: 30px;
  }

  .positive-result__link {
    width: 528px;
    margin: 31px 45px 0 0;
    font-size: 18px;
    line-height: 30px;
  }
}
