.promo {
  position: relative;
  line-height: 0;
  height: 386px;
  margin-bottom: 28px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__image {
  position: absolute;
  left: 0;
  bottom: 0;
}
