.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 177px;
  .list-style-reset ();
  margin: 0 auto 40px auto;
}

.social__item {
  font-size: 0;
}

.social__link {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 3px solid @social-icon-border-color;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: @social-icon-border-color--hover;
  }

  &:active {
    border-color: @social-icon-border-color;
  }

  &:active .social__icon {
    fill: @social-icon-color--active;
  }
}

.social__icon {
  fill: @social-icon-color;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 0 auto;
  }
}
