.tariffs {
  margin-bottom: 43px;
  padding-top: 90px;
  text-transform: uppercase;
  background-color: @bg-color--second;
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100vw auto;
}

.tariffs__wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.tariff__toggles {
  padding-bottom: 47px;
}

.tariffs__table {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: @bg-color--basic;
}

.tariffs__options {
  position: relative;
  padding: 15px 0 14px 21px;
  text-align: left;
  border: 2px solid @border-color;
  border-top: none;
}

.tariffs__title--hidden {
  display: none;
}

.tariffs__options--hidden {
  display: none;
}

.tariffs__options--checked::after {
  content: "";
  position: absolute;
  right: 18px;
  width: 30px;
  height: 26px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tariffs__options--disable::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 19px;
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .tariffs {
    margin-bottom: 48px;
    padding-top: 85px;
  }

  .tariffs__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .tariff__toggles {
    display: none;
  }

  .tariffs__table {
    margin-bottom: 65px;
  }

  .tariffs__title--hidden {
    display: table-cell;
  }

  .tariffs__options--hidden {
    display: table-cell;
  }

  .tariffs__options {
    padding: 6px 15px 9px 15px;
    text-transform: none;
  }

  .tariffs__hidden {
    display: none;
  }

  .tariffs__options--checked::after {
    top: 8px;
    right: 62px;
  }

  .tariffs__options--disable::after {
    top: 9px;
    right: 63px;
  }
}

@media (min-width: @desktop-width) {
  .tariffs {
    padding-top: 148px;
    margin-bottom: 65px;
  }

  .tariffs__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .tariffs__table {
    margin-bottom: 95px;
  }

  .tariffs__options {
    padding: 13px 21px 15px 21px;
    font-size: 18px;
  }

  .tariffs__options--checked::after {
    top: 16px;
    right: 103px;
  }

  .tariffs__options--disable::after {
    top: 15px;
    right: 104px;
  }
}
