.user-contacts {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 34px 20px 25px 20px;
  text-align: left;
  text-transform: uppercase;
  color: @font-color--different;
  border: none;
}

.user-contacts__title {
  display: none;
}

.user-contacts__list {
  display: flex;
  flex-direction: column;
}

.user-contacts__item {
  display: flex;
  flex-direction: column;
}

.user-contacts__caption {
  padding-left: 23px;
}

@media (min-width: @tablet-width) {
  .user-contacts {
    width: 620px;
    margin-bottom: 65px;
    padding: 0 58px;
    border: 2px solid @border-color;
  }

  .user-contacts__item {
    margin: 37px 0 0 0;
  }

  .user-contacts__item--email {
    margin: 29px 0 26px 0;
  }

  .user-contacts__title {
    display: block;
    width: 200px;
    padding: 0 30px;
    background-color: @bg-color--basic;
  }

  .user-contacts input {
    box-sizing: border-box;
    width: 500px;
    margin: 0 0 10px 0;
    padding: 14px 60px 15px 18px;
  }

  .user-contacts__caption {
    order: 1;
    padding-left: 19px;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts {
    width: 940px;
    margin-top: 64px;
  }

  .user-contacts__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    padding-bottom: 12px;
  }

  .user-contacts__item {
    margin: 0;
  }

  .user-contacts input {
    width: 375px;
  }
}
